body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  /* The image used */
  background-image: url("assets/4901458.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: myFirstFont;
  src: url(assets/Font/comic-adventure-comic-adventure-svg-400.otf);
}

.title {
  margin-top: 36vh;
  margin-bottom: 8vh;
  font-family: myFirstFont;
  color: #00bcf7;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px black;
  font-size: xxx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* CSS comic btn*/
.button-53 {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  /* font-family: "Segoe UI Emoji"; */

  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
#caminitbtn {
  top: -3vh;
  margin: auto;
  width: 38vw;
}
.cameraPanel {
  text-align: center;
  margin-top: 18vh;
}
.camera {
  display: flex;
  justify-content: center;
}
#webcam {
  border-radius: 25px;
  box-shadow: 0px 0px 33px 6px gray;
}
.capturebtn {
  position: absolute;
  width: 31vw;
  left: 34vw;
}
#takephoto {
  position: absolute;
  width: 10vw;
  left: 4vw;
  top: 6vh;
}
#camSetting {
  position: absolute;
  width: 10vw;
  left: 18vw;
  top: 6vh;
}
.setpanel {
  position: relative;
  margin-top: -16vh;
  margin-left: 7vw;
  background-color: transparent;
  z-index: 5;
}
.settingbox {
  width: auto;
  height: auto;
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
  border-radius: 18px;
}
.finalize {
  position: absolute;
  width: 31vw;
  left: 34vw;
}
#retakebtn {
  position: absolute;
  left: 0vw;
  width: 10vw;
  top: 6vh;
}
#finalbtn {
  position: absolute;
  left: 17vw;
  width: 10vw;
  top: 6vh;
}
.settingbox.setarrow-bottom:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid rgb(255, 255, 255);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
/* Switch container */
.switch {
  position: relative;
  width: 53px;
  height: 24px;
  margin: 2vh;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Toggle container */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
  font-size: 18px;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider before (the circle) */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked state */
input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .switch {
    width: 50px;
    height: 28px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
  }

  input:checked + .slider:before {
    transform: translateX(22px);
  }
  .setpanel {
    margin-left: -45vw;
  }
}
.supeImgs {
  position: relative;
  margin-top: 19vh;
  /* height: 100%;
  display: flex;
  justify-content: center; */
  align-items: center;
}
.container {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: antiquewhite;
  border-radius: 18px;
}

.scrollable-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 10px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.scrollable-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.webcamnormal {
  transform: scale(-1, 1) !important;
}
.webcammirror {
  transform: scale(1, 1) !important;
}
.supeimg {
  border-radius: 25px;
  cursor: pointer;
}
/* Tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tab-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-btn:hover {
  background-color: #0056b3;
}

.tab-content {
  display: none;
  margin-top: 20px;
  padding: 10px;
  justify-content: center;
}

.tab-content.active {
  display: flex;
}

/* Scrollable Grid */
.grid-container {
  display: grid;
  width: 55vw;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 33px 6px gray;
}

/* Image styling */
.grid-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.grid-container img:hover {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tab-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

#imageContainer {
  text-align: center;
  margin-top: 10vw;
}
#resultImage {
  max-width: 1024px;
  max-height: 1024px;
  width: 30vw;
  height: auto;
  box-shadow: 0px 0px 33px 6px gray;
}

.super-pulse-loader {
  position: relative;
  width: 150px;
  height: 150px;
}

/* Pulsating Rings */
.pulse-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(0, 255, 255, 0.7);
  transform: translate(-50%, -50%);
  animation: pulse 1.5s infinite ease-out;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.5);
}

.pulse-ring.delay {
  animation-delay: 0.3s;
}

.pulse-ring.delay-2 {
  animation-delay: 0.6s;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

/* Central Dot */
.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #00bcf7;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 0.7);
}

/* Loading Text */
.loading-text {
  position: absolute;
  top: 160px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: myFirstFont;
  color: #000000;
  letter-spacing: 2px;
  animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
